.form-container>* {
    display: flex;
    flex-direction: column;
    max-width: 80vw;
    gap: .5rem;
}

.input,
.output {
    display: flex;
    justify-content: space-between;
    /* gap: 2%; */
}

input,
output {
    width: 600px;
    /* padding-left: .5rem; */
    border: solid 1px grey;
    border-radius: 3px;
}

output {
    color: darkgrey;
}

select,
button {
    width: 600px;
    /* min-width: 20rem; */
    margin-left: auto;
}